@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300;400;500;600;700&display=swap');
/* Global Styles */

:root {
  --primary-color: #414af2;
  --bg-color: #202225;
  --bg-color-light: #27292c;
  --dark-color: #121213;
  --light-color: #f4f4f4;
  --red-color: #D9415D;
  --font-color-black: rgb(20, 20, 20);
  --font-color-white: rgb(248, 248, 248);
  --font-color-grey: rgb(156, 156, 156);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: .625rem;
}

body {
  font-family: 'Varta', sans-serif;
  line-height: 1.6;
  background-color: var(--bg-color);
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #101010;
  color: white;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar i {
  color: whitesmoke;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Mobile Styles */

@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }
  .grid-2, .grid-3, .grid-4 {
    grid-template-columns: 1fr;
  }
  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }
  .large {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }
  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}